@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Aplicação ASP.NET criada para consumir um serviço Web (API)</h2>
    <p class="lead">Esta aplicação é um cliente que acessa um serviço Web que é executado em outra aplicação, o intuito é gerenciar um restaurante. O banco de dados (BD) fica no serviço Web.</p>
</div>